body { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.methods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds consistent spacing between buttons */
}

.form-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0% 5% 5% 5%;
    border-radius: 5%;
}

#form-header {
    margin: 5% 0% 5% 0%;
    border-bottom: 1px solid #0056b3;
}

#email-form {
    margin-bottom: 10%;
}

#email-password {
    margin: 5% 0% 5% 0;
}

.method-btn {
    padding: 3% 6%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 200px; /* Optional: makes all buttons same width */
    text-align: center;
    transition: background-color 0.3s;
}

.method-btn:hover {
    background-color: #0056b3;
}

.back-btn {
    float: right;
}